@page "/clinic/create"
@page "/clinic/edit/{ClinicId:guid}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IClinicManagementApiService ApiService
@inject ILogger<CreateEdit> Logger

<PageTitle>Clinic Management - @pageTitle</PageTitle>

<h3>@pageTitle</h3>

<EditForm Model="@clinicEditModel" OnValidSubmit="@HandleValidClinicSubmitAsync">
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <InputText id="name" class="form-control" @bind-Value="clinicEditModel.Name" />
            </div>
        </div>
    </div>
    <ValidationSummary />
    <DataAnnotationsValidator />
    <div class="d-grid gap-2 col-1 mx-auto">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</EditForm>

<div class="row">
    @if (ClinicId.HasValue)
    {
        <hr class="my-4" />
        <h3>
            <span>Branches</span>
            <button type="button" class="btn btn-primary" disabled="@isEditOpen" @onclick="AddBranch"><i class="fa-solid fa-plus"></i></button>
        </h3>
    }

    @foreach (var branch in clinicEditModel.Branches)
    {
        if (branchId == branch.VanityId)
        {
            <div class="col-3">
                <div class="card">
                    <EditForm Model="@branchEditModel" OnValidSubmit="@HandleValidBranchSubmitAsync">
                        <DataAnnotationsValidator />
                        <div class="card-header">
                            <InputText id="name" class="form-control" @bind-Value="branchEditModel.Name" />
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    Phone
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">+</span>
                                        <div class="col-sm-3">
                                            <InputText id="name" class="form-control" @bind-Value="branchEditModel.PhoneNumber.CountryCode" />
                                        </div>
                                        <InputText id="name" class="form-control" @bind-Value="branchEditModel.PhoneNumber.Number" />
                                    </div>
                                </li>
                                <li>Street <InputText id="name" class="form-control" @bind-Value="branchEditModel.Address.Street" /></li>
                                <li>Zip code <InputText id="name" class="form-control" @bind-Value="branchEditModel.Address.ZipCode" /></li>
                                <li>City <InputText id="name" class="form-control" @bind-Value="branchEditModel.Address.City" /></li>
                                @if (branchEditModel.Address.HasState)
                                {
                                    <li>State <InputText id="name" class="form-control" @bind-Value="branchEditModel.Address.State" /></li>
                                }
                                <li>Country <InputText id="name" class="form-control" @bind-Value="branchEditModel.Address.Country" /></li>
                            </ul>
                            <button type="submit" class="w-50 btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" @onclick="CloseEditForm">Cancel</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        }
        else
        {
            <div class="col-3">
                <div class="card">
                    <h5 class="card-header"><a href="/branch/edit/@branch.VanityId">@branch.Name</a></h5>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>Phone: +@branch.PhoneNumber.CountryCode @branch.PhoneNumber.Number</li>
                            <li>Street: @branch.Address.Street</li>
                            <li>Zip code: @branch.Address.ZipCode</li>
                            <li>City: @branch.Address.City</li>
                            @if (branch.Address.HasState)
                            {
                                <li>State: @branch.Address.State</li>
                            }
                            <li>Country: @branch.Address.Country</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-primary" disabled="@isEditOpen" @onclick="() => EditBranch(branch.VanityId)">Edit</button>
                    </div>
                </div>
            </div>
        }
    }
</div>

<ModalComponent @ref="modalComponent" PrimaryButtonText="Ok" />
